In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Load dữ liệu

In [ ]:

df = pd.read_csv('cleaned_cars_dataset.csv')
print(df.shape)
df.head()

(1214, 11)

,Make,Car_Name,Engine_Type,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Fuel_Type,Seats,Torque_Nm
0,FERRARI,Sf90 Stradale,V8,3990.0,963.0,340.0,2.5,1100000.0,plug in hybrid,2,800.0
1,ROLLS ROYCE,Phantom,V12,6749.0,563.0,250.0,5.3,460000.0,petrol,5,900.0
2,FORD,Ka+,1.2L PETROL,1200.0,77.5,165.0,10.5,13500.0,petrol,5,120.0
3,MERCEDES,Gt 63 S,V8,3982.0,630.0,250.0,3.2,161000.0,petrol,4,900.0
4,AUDI,Audi R8 Gt,V10,5204.0,602.0,320.0,3.6,253290.0,petrol,2,560.0

## 2. Thông tin tổng quan

In [ ]:

df.info()
df.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    1214 non-null   object
 1   Car_Name                1214 non-null   object
 2   Engine_Type             1214 non-null   object
 3   CC_Capacity             1083 non-null   float64
 4   Horsepower              1214 non-null   float64
 5   Top_Speed_kmh           1214 non-null   float64
 6   Acceleration_0_100_sec  1199 non-null   float64
 7   Price_USD               1213 non-null   float64
 8   Fuel_Type               1214 non-null   object
 9   Seats                   1214 non-null   int64
 10  Torque_Nm               1213 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 104.5+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Make,1214,31,NISSAN,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Car_Name,1214,1199,Panamera 4S,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine_Type,1214,353,I4,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CC_Capacity,1083.0,NaN,NaN,NaN,3015.120037,1836.75825,360.0,1600.0,2480.0,3745.0,16100.0
Horsepower,1214.0,NaN,NaN,NaN,1071.197282,11908.525741,26.0,155.0,255.25,400.0,250340.0
Top_Speed_kmh,1214.0,NaN,NaN,NaN,216.581549,53.055458,80.0,180.0,200.0,250.0,500.0
Acceleration_0_100_sec,1199.0,NaN,NaN,NaN,7.569308,3.325536,1.9,5.2,7.1,9.5,35.0
Price_USD,1213.0,NaN,NaN,NaN,12735263.016488,229473779.204738,4000.0,28000.0,43000.0,71000.0,5500065000.0
Fuel_Type,1214,23,petrol,869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seats,1214.0,NaN,NaN,NaN,5.329489,8.934875,1.0,4.0,5.0,5.0,215.0
Torque_Nm,1213.0,NaN,NaN,NaN,1736.926628,16930.220799,45.0,250.0,380.0,565.0,365480.0

## 3. Kiểm tra missing

In [8]:

missing = df.isnull().sum().sort_values(ascending=False)
missing[missing > 0]

CC_Capacity               131
Acceleration_0_100_sec     15
Torque_Nm                   1
Price_USD                   1
dtype: int64

## 4. Kiểu dữ liệu

In [ ]:

df.dtypes

Make                       object
Car_Name                   object
Engine_Type                object
CC_Capacity               float64
Horsepower                float64
Top_Speed_kmh             float64
Acceleration_0_100_sec    float64
Price_USD                 float64
Fuel_Type                  object
Seats                       int64
Torque_Nm                 float64
dtype: object

## 5. Thống kê cơ bản

In [ ]:

numeric_cols = df.select_dtypes(include=['int64','float64']).columns
df[numeric_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
CC_Capacity,1083.0,3.015120e+03,1.836758e+03,360.0,1600.0,2480.00,3745.0,1.610000e+04
Horsepower,1214.0,1.071197e+03,1.190853e+04,26.0,155.0,255.25,400.0,2.503400e+05
Top_Speed_kmh,1214.0,2.165815e+02,5.305546e+01,80.0,180.0,200.00,250.0,5.000000e+02
Acceleration_0_100_sec,1199.0,7.569308e+00,3.325536e+00,1.9,5.2,7.10,9.5,3.500000e+01
Price_USD,1213.0,1.273526e+07,2.294738e+08,4000.0,28000.0,43000.00,71000.0,5.500065e+09
Seats,1214.0,5.329489e+00,8.934875e+00,1.0,4.0,5.00,5.0,2.150000e+02
Torque_Nm,1213.0,1.736927e+03,1.693022e+04,45.0,250.0,380.00,565.0,3.654800e+05

## 6. Cột phân loại

In [ ]:

cat_cols = df.select_dtypes(include='object').columns
for c in cat_cols:
    print(f'{c}: {df[c].nunique()} unique values')

Make: 31 unique values
Car_Name: 1199 unique values
Engine_Type: 353 unique values
Fuel_Type: 23 unique values