In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [35]:
data = pd.read_csv("cleaned_cars_dataset.csv")
data.head()

,Make,Car_Name,Engine_Type,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Fuel_Type,Seats,Torque_Nm
0,FERRARI,Sf90 Stradale,V8,3990.0,963.0,340.0,2.5,1100000.0,plug in hybrid,2,800.0
1,ROLLS ROYCE,Phantom,V12,6749.0,563.0,250.0,5.3,460000.0,petrol,5,900.0
2,FORD,Ka+,1.2L PETROL,1200.0,77.5,165.0,10.5,13500.0,petrol,5,120.0
3,MERCEDES,Gt 63 S,V8,3982.0,630.0,250.0,3.2,161000.0,petrol,4,900.0
4,AUDI,Audi R8 Gt,V10,5204.0,602.0,320.0,3.6,253290.0,petrol,2,560.0

## Clean engine_type

In [36]:
def detect_engine_layout(engine):
    engine = str(engine).upper()

   #clarify elec and hybird
    if 'ELECTRIC' in engine:
        return 'Electric Motor'
    if 'HYBRID' in engine:
        return 'Hybrid (ICE+Electric)'

    #clarify V, I, W, Boxer of car:
    if 'V' in engine and any(ch.isdigit() for ch in engine):
        return 'V-type'
    if any(word in engine for word in ['I3', 'I4', 'I5', 'I6', 'INLINE', 'CYLINDER']):
        return 'Inline'
    if 'FLAT' in engine or 'BOXER' in engine:
        return 'Boxer'
    if 'W' in engine and any(ch.isdigit() for ch in engine):
        return 'W-type'

    # 3. Some another 
    if any(word in engine for word in ['MIVEC', 'SKYACTIV', 'REVOTRON']):
        return 'Inline'

    # 4. fallback
    return 'Inline'

In [37]:
data["Engine_Layout"] = data["Engine_Type"].apply(detect_engine_layout)

In [38]:
data['Engine_Layout'].value_counts()

Engine_Layout
Inline                   531
V-type                   446
Electric Motor           125
Hybrid (ICE+Electric)     57
Boxer                     40
W-type                    15
Name: count, dtype: int64

In [39]:
data[['Engine_Type', 'Engine_Layout']].sample(20)

                          Engine_Type   Engine_Layout
1144                    1.6L INLINE-4          Inline
698              DUAL ELECTRIC MOTORS  Electric Motor
625            3.0L TWIN-TURBO FLAT-6           Boxer
904                         I4 PETROL          Inline
201                                I4          Inline
800                    6.6L V8 ENGINE          V-type
335                          ELECTRIC  Electric Motor
1166                    1.8L INLINE-4          Inline
477                     2.0L INLINE-4          Inline
48                                V10          V-type
1034              1.5L TURBO INLINE-3          Inline
1093                       1.6L MIVEC          V-type
474                     2.4L INLINE-4          Inline
620   4.0L NATURALLY ASPIRATED FLAT-6           Boxer
921                         V6 PETROL          V-type
532          2.9L V6 + ELECTRIC MOTOR  Electric Motor
436                     1.8L INLINE-4          Inline
176                                I6          Inline
507                     1.6L INLINE-4          Inline
1203           1.3L WANKEL + ELECTRIC  Electric Motor

In [40]:
data

,Make,Car_Name,Engine_Type,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Fuel_Type,Seats,Torque_Nm,Engine_Layout
0,FERRARI,Sf90 Stradale,V8,3990.0,963.0,340.0,2.5,1.100000e+06,plug in hybrid,2,800.0,V-type
1,ROLLS ROYCE,Phantom,V12,6749.0,563.0,250.0,5.3,4.600000e+05,petrol,5,900.0,V-type
2,FORD,Ka+,1.2L PETROL,1200.0,77.5,165.0,10.5,1.350000e+04,petrol,5,120.0,Inline
3,MERCEDES,Gt 63 S,V8,3982.0,630.0,250.0,3.2,1.610000e+05,petrol,4,900.0,V-type
4,AUDI,Audi R8 Gt,V10,5204.0,602.0,320.0,3.6,2.532900e+05,petrol,2,560.0,V-type
...,...,...,...,...,...,...,...,...,...,...,...,...
1209,TOYOTA,Crown Signia,2.5L HYBRID I4,2487.0,240.0,180.0,7.6,4.359048e+09,hybrid (gas + electric),5,239.0,Hybrid (ICE+Electric)
1210,TOYOTA,4Runner (6Th Gen),2.4L TURBO I4 (I-FORCE MAX HYBRID),2393.0,326.0,180.0,6.8,5.000000e+04,hybrid,7,630.0,Hybrid (ICE+Electric)
1211,TOYOTA,Corolla Cross,2.0L GAS / 2.0L HYBRID,1987.0,169196.0,190.0,NaN,2.521029e+09,gas / hybrid,5,190210.0,Hybrid (ICE+Electric)
1212,TOYOTA,C-Hr+,1.8L / 2.0L HYBRID,NaN,140198.0,180.0,NaN,3.300000e+04,hybrid,5,190205.0,Hybrid (ICE+Electric)
1213,TOYOTA,Rav4 (6Th Gen),2.5L HYBRID / PLUG-IN HYBRID,2487.0,219302.0,200.0,NaN,2.900043e+09,hybrid / plug-in,5,221400.0,Hybrid (ICE+Electric)

In [47]:
data.info()
data.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    1214 non-null   object
 1   Car_Name                1214 non-null   object
 2   Engine_Type             1214 non-null   object
 3   CC_Capacity             1083 non-null   float64
 4   Horsepower              1214 non-null   float64
 5   Top_Speed_kmh           1214 non-null   float64
 6   Acceleration_0_100_sec  1199 non-null   float64
 7   Price_USD               1213 non-null   float64
 8   Fuel_Type               1214 non-null   object
 9   Seats                   1214 non-null   int64
 10  Torque_Nm               1213 non-null   float64
 11  Engine_Layout           1214 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 113.9+ KB

1214

In [50]:
for col in data:
    print(f'{col}: {data[col].isnull().sum() / data.shape[0] * 100}')

Make: 0.0
Car_Name: 0.0
Engine_Type: 0.0
CC_Capacity: 10.790774299835256
Horsepower: 0.0
Top_Speed_kmh: 0.0
Acceleration_0_100_sec: 1.2355848434925865
Price_USD: 0.08237232289950577
Fuel_Type: 0.0
Seats: 0.0
Torque_Nm: 0.08237232289950577
Engine_Layout: 0.0

In [51]:
data.describe()

,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Seats,Torque_Nm
count,1083.000000,1214.000000,1214.000000,1199.000000,1.213000e+03,1214.000000,1213.000000
mean,3015.120037,1071.197282,216.581549,7.569308,1.273526e+07,5.329489,1736.926628
std,1836.758250,11908.525741,53.055458,3.325536,2.294738e+08,8.934875,16930.220799
min,360.000000,26.000000,80.000000,1.900000,4.000000e+03,1.000000,45.000000
25%,1600.000000,155.000000,180.000000,5.200000,2.800000e+04,4.000000,250.000000
50%,2480.000000,255.250000,200.000000,7.100000,4.300000e+04,5.000000,380.000000
75%,3745.000000,400.000000,250.000000,9.500000,7.100000e+04,5.000000,565.000000
max,16100.000000,250340.000000,500.000000,35.000000,5.500065e+09,215.000000,365480.000000

In [53]:
for col in data:
    print(f'{col}: {data[col].value_counts()}')
    print("%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%")

Make: Make
NISSAN               159
VOLKSWAGEN           107
PORSCHE               96
MAZDA                 87
KIA                   71
MITSUBISHI            60
GMC                   59
CHEVROLET             57
PEUGEOT               54
FORD                  54
TOYOTA                50
BMW                   41
JAGUAR LAND ROVER     40
ROLLS ROYCE           30
TATA MOTORS           28
ACURA                 27
LAMBORGHINI           24
HYUNDAI               23
AUDI                  21
MERCEDES              21
CADILLAC              20
JEEP                  19
VOLVO                 12
ASTON MARTIN          11
TESLA                 10
BUGATTI               10
FERRARI                9
HONDA                  7
MARUTI SUZUKI          3
MAHINDRA               3
BENTLEY                1
Name: count, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Car_Name: Car_Name
Panamera 4S        2
Ka+                2
Polo Bluemotion    2
911 Carrera 4      2
Mirai              2
                  ..
Carol P360         1
T2000              1
Az-Offroad         1
Scrum Wagon        1
Sf90 Stradale      1
Name: count, Length: 1199, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Engine_Type: Engine_Type
I4                               64
V12                              51
V6                               39
INLINE-4                         38
V8                               34
                                 ..
3.2L TURBO DIESEL                 1
2.5L DIESEL                       1
2.3L TURBOCHARGED                 1
3.3L INLINE-6 TURBO               1
1.5L ECOBOOST / 2.0L ECOBOOST     1
Name: count, Length: 353, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CC_Capacity: CC_Capacity
2000.0    42
1984.0    38
1598.0    37
1998.0    35
1999.0    32
          ..
2600.0     1
1590.0     1
360.0      1
1298.0     1
2620.0     1
Name: count, Length: 176, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Horsepower: Horsepower
400.0       29
300.0       24
200.0       23
310.0       22
355.0       22
            ..
92.0         1
326.0        1
169196.0     1
140198.0     1
219302.0     1
Name: count, Length: 360, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Top_Speed_kmh: Top_Speed_kmh
250.0    145
200.0    139
180.0    128
190.0     92
210.0     84
        ...
80.0       1
283.0      1
348.0      1
204.0      1
85.0       1
Name: count, Length: 113, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Acceleration_0_100_sec: Acceleration_0_100_sec
6.5     46
7.5     43
8.5     40
10.5    39
8.0     35
        ..
2.3      1
20.0     1
2.2      1
22.0     1
35.0     1
Name: count, Length: 124, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Price_USD: Price_USD
35000.0     38
30000.0     34
55000.0     33
25000.0     32
50000.0     31
            ..
59140.0      1
79420.0      1
253290.0     1
499000.0     1
29365.0      1
Name: count, Length: 462, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Fuel_Type: Fuel_Type
petrol                     869
diesel                     106
electric                    96
hybrid                      78
petrol/diesel               16
petrol/hybrid               16
plug-in hybrid               5
hybrid (petrol)              4
diesel/petrol                4
petrol, diesel               3
hydrogen                     3
petrol, hybrid               2
petrol/awd                   2
plug in hybrid               1
hybrid/electric              1
petrol/ev                    1
cng/petrol                   1
hybrid/petrol                1
diesel hybrid                1
petrol (hybrid)              1
hybrid (gas + electric)      1
gas / hybrid                 1
hybrid / plug-in             1
Name: count, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Seats: Seats
5      690
4      165
7      146
2      136
8       29
6       20
3       14
1        3
26       2
20       1
9        1
12       1
15       1
215      1
27       1
78       1
29       1
212      1
Name: count, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Torque_Nm: Torque_Nm
400.0       73
250.0       55
350.0       39
500.0       35
450.0       33
            ..
45.0         1
239.0        1
190210.0     1
190205.0     1
221400.0     1
Name: count, Length: 248, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Engine_Layout: Engine_Layout
Inline                   531
V-type                   446
Electric Motor           125
Hybrid (ICE+Electric)     57
Boxer                     40
W-type                    15
Name: count, dtype: int64
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

## Clean Fuel_Type

In [55]:
def normalize_fuel(fuel):
    f = str(fuel).lower().strip()
    if "electric" in f and "hybrid" not in f:
        return "Electric"
    elif "hybrid" in f:
        return "Hybrid"
    elif "diesel" in f and "petrol" in f:
        return "Mixed Fuel"
    elif "diesel" in f:
        return "Diesel"
    elif "petrol" in f or "gasoline" in f:
        return "Petrol"
    elif "hydrogen" in f or "cng" in f:
        return "Hydrogen/CNG"
    else:
        return "Other"

data["Fuel_Type_Cleaned"] = data["Fuel_Type"].apply(normalize_fuel)
data["Fuel_Type_Cleaned"].value_counts()

Fuel_Type_Cleaned
Petrol          873
Hybrid          113
Diesel          106
Electric         96
Mixed Fuel       23
Hydrogen/CNG      3
Name: count, dtype: int64

In [60]:
data[['Fuel_Type', 'Fuel_Type_Cleaned']].sample(50)

             Fuel_Type Fuel_Type_Cleaned
832             hybrid            Hybrid
583             petrol            Petrol
330             diesel            Diesel
1137            petrol            Petrol
587             hybrid            Hybrid
337             petrol            Petrol
159             petrol            Petrol
842             petrol            Petrol
795             petrol            Petrol
604           electric          Electric
119             petrol            Petrol
552             petrol            Petrol
1070            diesel            Diesel
181             petrol            Petrol
1149            petrol            Petrol
724             petrol            Petrol
1151            petrol            Petrol
1062            petrol            Petrol
1132            petrol            Petrol
1104     diesel hybrid            Hybrid
65              petrol            Petrol
811             petrol            Petrol
794             petrol            Petrol
1171     petrol/diesel        Mixed Fuel
50              petrol            Petrol
153             diesel            Diesel
1054            diesel            Diesel
1165            petrol            Petrol
82              petrol            Petrol
568             petrol            Petrol
537             petrol            Petrol
1195            petrol            Petrol
1059            diesel            Diesel
118             petrol            Petrol
934             petrol            Petrol
286             petrol            Petrol
356             petrol            Petrol
458             petrol            Petrol
973           electric          Electric
289           electric          Electric
1162            petrol            Petrol
1213  hybrid / plug-in            Hybrid
533    hybrid (petrol)            Hybrid
15              petrol            Petrol
944             petrol            Petrol
394             petrol            Petrol
505             petrol            Petrol
887             diesel            Diesel
1126            petrol            Petrol
491           electric          Electric

In [65]:
data[data.duplicated(keep=False)]

,Make,Car_Name,Engine_Type,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Fuel_Type,Seats,Torque_Nm,Engine_Layout,Fuel_Type_Cleaned
2,FORD,Ka+,1.2L PETROL,1200.0,77.5,165.0,10.5,13500.0,petrol,5,120.0,Inline,Petrol
1014,FORD,Ka+,1.2L PETROL,1200.0,77.5,165.0,10.5,13500.0,petrol,5,120.0,Inline,Petrol

In [66]:
data.drop_duplicates(inplace=True)

In [75]:
data_upload = []

In [76]:
#choose column normalize p1
for col in data:
    if col == 'Engine_Type' or col == "Fuel_Type":
        continue
    else:
        data_upload.append(col)
print(data_upload)

['Make', 'Car_Name', 'CC_Capacity', 'Horsepower', 'Top_Speed_kmh', 'Acceleration_0_100_sec', 'Price_USD', 'Seats', 'Torque_Nm', 'Engine_Layout', 'Fuel_Type_Cleaned']

In [77]:
data_uploaded = data[data_upload]

In [79]:
data_uploaded

,Make,Car_Name,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Seats,Torque_Nm,Engine_Layout,Fuel_Type_Cleaned
0,FERRARI,Sf90 Stradale,3990.0,963.0,340.0,2.5,1.100000e+06,2,800.0,V-type,Hybrid
1,ROLLS ROYCE,Phantom,6749.0,563.0,250.0,5.3,4.600000e+05,5,900.0,V-type,Petrol
2,FORD,Ka+,1200.0,77.5,165.0,10.5,1.350000e+04,5,120.0,Inline,Petrol
3,MERCEDES,Gt 63 S,3982.0,630.0,250.0,3.2,1.610000e+05,4,900.0,V-type,Petrol
4,AUDI,Audi R8 Gt,5204.0,602.0,320.0,3.6,2.532900e+05,2,560.0,V-type,Petrol
...,...,...,...,...,...,...,...,...,...,...,...
1209,TOYOTA,Crown Signia,2487.0,240.0,180.0,7.6,4.359048e+09,5,239.0,Hybrid (ICE+Electric),Hybrid
1210,TOYOTA,4Runner (6Th Gen),2393.0,326.0,180.0,6.8,5.000000e+04,7,630.0,Hybrid (ICE+Electric),Hybrid
1211,TOYOTA,Corolla Cross,1987.0,169196.0,190.0,NaN,2.521029e+09,5,190210.0,Hybrid (ICE+Electric),Hybrid
1212,TOYOTA,C-Hr+,NaN,140198.0,180.0,NaN,3.300000e+04,5,190205.0,Hybrid (ICE+Electric),Hybrid
1213,TOYOTA,Rav4 (6Th Gen),2487.0,219302.0,200.0,NaN,2.900043e+09,5,221400.0,Hybrid (ICE+Electric),Hybrid

In [84]:
data_uploaded.to_csv('clean_data_p1.csv', index = False)