In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('clean_data_p1.csv')
data

,Make,Car_Name,CC_Capacity,Horsepower,Top_Speed_kmh,Acceleration_0_100_sec,Price_USD,Seats,Torque_Nm,Engine_Layout,Fuel_Type_Cleaned
0,FERRARI,Sf90 Stradale,3990.0,963.0,340.0,2.5,1.100000e+06,2,800.0,V-type,Hybrid
1,ROLLS ROYCE,Phantom,6749.0,563.0,250.0,5.3,4.600000e+05,5,900.0,V-type,Petrol
2,FORD,Ka+,1200.0,77.5,165.0,10.5,1.350000e+04,5,120.0,Inline,Petrol
3,MERCEDES,Gt 63 S,3982.0,630.0,250.0,3.2,1.610000e+05,4,900.0,V-type,Petrol
4,AUDI,Audi R8 Gt,5204.0,602.0,320.0,3.6,2.532900e+05,2,560.0,V-type,Petrol
...,...,...,...,...,...,...,...,...,...,...,...
1208,TOYOTA,Crown Signia,2487.0,240.0,180.0,7.6,4.359048e+09,5,239.0,Hybrid (ICE+Electric),Hybrid
1209,TOYOTA,4Runner (6Th Gen),2393.0,326.0,180.0,6.8,5.000000e+04,7,630.0,Hybrid (ICE+Electric),Hybrid
1210,TOYOTA,Corolla Cross,1987.0,169196.0,190.0,NaN,2.521029e+09,5,190210.0,Hybrid (ICE+Electric),Hybrid
1211,TOYOTA,C-Hr+,NaN,140198.0,180.0,NaN,3.300000e+04,5,190205.0,Hybrid (ICE+Electric),Hybrid
1212,TOYOTA,Rav4 (6Th Gen),2487.0,219302.0,200.0,NaN,2.900043e+09,5,221400.0,Hybrid (ICE+Electric),Hybrid

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    1213 non-null   object
 1   Car_Name                1213 non-null   object
 2   CC_Capacity             1082 non-null   float64
 3   Horsepower              1213 non-null   float64
 4   Top_Speed_kmh           1213 non-null   float64
 5   Acceleration_0_100_sec  1198 non-null   float64
 6   Price_USD               1212 non-null   float64
 7   Seats                   1213 non-null   int64
 8   Torque_Nm               1212 non-null   float64
 9   Engine_Layout           1213 non-null   object
 10  Fuel_Type_Cleaned       1213 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 104.4+ KB

## Clarify feature

### Quantitative Classification and Qualitatice classification

In [5]:
quantitative_columns = []
qualitative_columns = []
for col in data:
    if data[col].dtype == 'float64' or data[col].dtype == 'int64':
        quantitative_columns.append(col) # ratio hết
    else:
        qualitative_columns.append(col) # này là dạng nominal hết

In [6]:
print(qualitative_columns)

['Make', 'Car_Name', 'Engine_Layout', 'Fuel_Type_Cleaned']

In [7]:
print(quantitative_columns)

['CC_Capacity', 'Horsepower', 'Top_Speed_kmh', 'Acceleration_0_100_sec', 'Price_USD', 'Seats', 'Torque_Nm']